*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-heighlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 2%;
}
.half-width p{
    text-align: justify;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("images/top-banner.png");
background-repeat: no-repeat;
}
section{
    height: 500px;
   
}